-# Main Jumbotron for a primary marketing message or call to action.
-# Home Page
.jumbotron#main-page-jumbotron
  .container
    %h2 Poweshiek County Resource Portal
    %p
      This is an online resource directory for the Poweshiek County of Iowa consisting of Food, Housing,
      Employment, and many other resources. This website was built through a collaboration between
      Grinnell College and MICA.
      
      -# make this shorter

.container
  .row
    .col-md-2
    .col-md-8
      .row
        = render 'search/form'
    .col-md-2
%br
.container
  .row
    - @categories.each do |category|
      .col-md-4.option_buttons
        %a.btn.btn-info{:href => category_path(category), :role => "button", :class => "option_button"}
          = category.name
          %span.fa.fa-angle-double-right
%br
.container
  .row
    .col-md-12#call-tp-action
      %div
        %a.btn.btn-default{:href => new_resource_path, :role => "button", :id => "enter-resource-button"}
          Enter a new resource
          %span.fa.fa-plus