/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

.resource_button {
    margin: 5px auto;
    font-size: 24px;
}

.resource_block {
    background-color:#FFFFFF; 
    margin: 25px;
    padding: 0px 10px;
}

#all-resources {
    background-color:#DCDCDC;
}

.list-group {
    list-style-type: none;
}

.top-buffer{
    margin-top :10px;
}
.default-padding{
    padding-top :25px;
    padding-right :100px;
    padding-bottom :25px;
    padding-left  :100px;
}
.default center{
   margin: auto;
    width: 60%;
    padding: 10px
}