-# users#index
-# Displays a list of all user favorited resources
-# Creates the PDF printable version of this page
.jumbotron#main-page-jumbotron
  .container
    %h1 My Favorite Resources
.container{:style => 'padding_bottom:10px' }
  %a.btn.btn-default{ :onclick => 'window.print(); return false;', :role => "button", :class => 'noprint' }
    %span.fa.fa-print
    Print Resource List &raquo;
  %br
.container{:id => "all-resources"}
  - current_user.favorites.each do |resource|
    = render :partial => 'resources/resource', :locals => { :resource => resource }
%hr