!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE-edge"}/
    %meta{"name" => "viewport", :content => "width=device-width, initial-scale=1"}/
    %meta{"name" => "description", "content" => ""}/
    %meta{"name" => "author", "content" => ""}/
    %link{:href => "../../assets/ico/favicon.ico", :rel => "shortcut icon"}/

    /%title Jumbotron Template for Twitter Bootstrap

    / Bootstrap Core CSS
    %link{:href => "scss/bootstrap.min.css", :rel => :stylesheet}/

    / Custom Styles for this template
    %link{:href => "css/jumbotron.css", :rel => :stylesheet}/

    / HTML5 Shim and Respond.js IE8 Support of HTML5 elements and media queries.
    / WARNING: Respond.js doesn't work if you view the page using file://
    /[if IE9]
      %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.42/respond.min.js"}

  %body
    .container
      .row
        .col-md-12 
          %h1{:style => "text-align: center"} Administrator Home
    .container
      %ul.nav.nav-pills
        %li
          %a{:href => "#pending_tab" }Pending Resources
        %li
          %a{:href => "#existing_tab" }Edit Existing
        %li
          %a{:href => "#view_all_tab" }View All
      %div.tab-content
        %div.tab-pane#pending_tab
          %p 1
        %div.tab-pane#existing_tab
          %p 2
        %div.tab-pane#view_all_tab
          %p 3
      // .row.col-md-12.option_buttons
      //   %a.btn.btn-info{:href => "/admin/pending", :role => "button", :class => "option_button", :id => ""} View Pending &raquo;
      //   %a.btn.btn-info{:href => "/admin/existing", :role => "button", :class => "option_button", :id => ""} Edit Existing &raquo;
      //   %a.btn.btn-info{:href => "/admin/all", :role => "button", :class => "option_button", :id => ""} View All &raquo;
      //   %p #{@albert}