-# resources#index
-# Displays a list of all resources, or all resources with a certain tag
.jumbotron#main-page-jumbotron
  .container
    - if params[:tag]
      %h1 Resources
    - else
      %h1 All Resources
.container{:id => "all-resources"}
  - @resources.each do |resource|
    = render :partial => 'resource', :locals => { :resource => resource }
%hr
