-# resources#index
-# Displays a list of all resources
.jumbotron#main-page-jumbotron
  .container
    %h1 All Resources
.container{:id => "all-resources"}
  - @resources.each do |resource|
    = render :partial => 'resource', :locals => { :resource => resource }
%hr
