!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE-edge"}/
    %meta{"name" => "viewport", :content => "width=device-width, initial-scale=1"}/
    %meta{"name" => "description", "content" => ""}/
    %meta{"name" => "author", "content" => ""}/
    %link{:href => "../../assets/ico/favicon.ico", :rel => "shortcut icon"}/

    /%title Jumbotron Template for Twitter Bootstrap

    / Bootstrap Core CSS
    %link{:href => "scss/bootstrap.min.css", :rel => :stylesheet}/

    / Custom Styles for this template
    %link{:href => "css/jumbotron.css", :rel => :stylesheet}/

    / HTML5 Shim and Respond.js IE8 Support of HTML5 elements and media queries.
    / WARNING: Respond.js doesn't work if you view the page using file://
    /[if IE9]
      %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.42/respond.min.js"}

  %body
            
    / Main Jumbotron for a primary marketing message or call to action.
    .jumbotron
      .container
        %h1 Poweshiek County Resource Portal
        %p This is an online resource directory for the Poweshiek County of Iowa consisting of Food, Housing, and Employment resources. This website is being built through a student project at Grinnell College.
        //%a.btn.btn-primary.btn-lg{:role => "button"} Learn more &raquo;

    .container
      / Example row of columns
      .row.option_buttons
        %a.btn.btn-info{:href => "/resources/Food and Groceries", :role => "button", :class => "option_button", :id => "groceries_button"} Groceries and Meals &raquo;
        /= link_to "Get Resources", resources_path, { class: "btn btn-default", role: "button" }
        %a.btn.btn-info{:href => "/resources/Housing", :role => "button", :class => "option_button", :id => "housing_button"} Housing &raquo;
        %a.btn.btn-info{:href => "/resources/Employment", :role => "button", :class => "option_button", :id => "employment_button"} Employment &raquo;
      %hr/
      .row 
        .col-md-12
          %a.btn.btn-default{:href => "/resources/new", :role => "button"} Enter a new resource &raquo;
          %a.btn.btn-default{:href => "/admin", :role => "button"} Admin &raquo;
  